body {
  position: relative;
  width: 100%;
  background: linear-gradient(to bottom right, #393a4e 100px, #2b2c3a);
  color: #777777;
  font-family: 'Fira Sans', sans-serif;
  font-size: 14px; }

.nav-bar {
  position: relative;
  height: 60px;
  width: 100%;
  box-sizing: border-box;
  background-color: #2b2c3a;
  box-shadow: 0px 5px 15px rgba(1, 1, 1, 0.1); }
  .nav-bar .container {
    display: flex;
    justify-content: space-between; }
    .nav-bar .container .nav-items {
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex: 1;
      box-sizing: border-box; }
      .nav-bar .container .nav-items ul {
        list-style: none;
        display: flex;
        margin: 0px;
        padding: 0px; }
        .nav-bar .container .nav-items ul .nav-item {
          cursor: pointer;
          transition: all 300ms ease; }
          .nav-bar .container .nav-items ul .nav-item:hover {
            color: rgba(255, 255, 255, 0.7); }
    .nav-bar .container .brand-logo {
      width: 60px;
      height: 60px; }
      .nav-bar .container .brand-logo img {
        width: 100%;
        height: 100%; }

.card {
  position: relative;
  background-color: #2b2c3a;
  border-radius: 5px;
  box-shadow: 0px 5px 15px rgba(1, 1, 1, 0.1);
  border: 0px;
  margin: 0px; }
  .card .head {
    display: flex;
    justify-content: space-between; }
  .card .title {
    text-transform: uppercase;
    color: rgba(255, 255, 255, 0.7);
    display: flex;
    align-items: center; }
    .card .title .icon {
      margin-right: 8px; }
  .card.mini {
    margin: 0px;
    background-color: rgba(54, 55, 73, 0.5); }
    .card.mini.balance {
      box-sizing: border-box;
      padding: 20px 20px; }
      .card.mini.balance span {
        display: block;
        font-weight: 100;
        font-size: 28px;
        color: white; }
    .card.mini p {
      margin: 0px; }
  .card.Chart, .card.Trade {
    height: 100%;
    margin: 0px; }

.Chart {
  box-sizing: border-box;
  padding-top: 50px;
  height: 400px;
  overflow: hidden; }

#tooltip {
  background-color: 'lime'; }

.loading {
  position: fixed;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #2b2c3a; }
  .loading .loading__blink {
    animation: blink-animation 1500ms infinite; }
    .loading .loading__blink svg {
      width: 100px;
      height: 100px;
      fill: #777777; }

@keyframes blink-animation {
  0% {
    opacity: 1; }
  50% {
    opacity: 0; }
  100% {
    opacity: 1; } }

.chart__nav {
  position: absolute;
  display: flex;
  flex-wrap: wrap;
  top: 0px;
  left: 0px;
  width: 100%;
  box-sizing: border-box; }
  .chart__nav .outerWrapper {
    position: relative;
    height: 50px;
    width: 100%;
    overflow: hidden; }
    .chart__nav .outerWrapper:hover .fadeRight {
      display: none; }
    .chart__nav .outerWrapper .fadeRight {
      display: block;
      right: 0px;
      position: absolute;
      width: 50%;
      background: linear-gradient(to right, rgba(43, 44, 58, 0), #2b2c3a);
      height: 100%;
      top: 0px;
      z-index: 1; }
    .chart__nav .outerWrapper .markets {
      display: flex;
      overflow-x: scroll;
      -webkit-overflow-scrolling: touch;
      box-sizing: content-box; }
      .chart__nav .outerWrapper .markets::-webkit-scrollbar {
        display: none; }
      .chart__nav .outerWrapper .markets .wrapper {
        height: 50px;
        display: flex; }
        .chart__nav .outerWrapper .markets .wrapper .button {
          width: 100px;
          float: left; }
  .chart__nav .options {
    width: 100%;
    height: 50px;
    display: flex;
    box-sizing: border-box; }

.button {
  text-transform: uppercase;
  position: relative;
  display: flex;
  flex-direction: column;
  flex: 1;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  cursor: pointer;
  transition: all 200ms ease; }
  .button > span.buy {
    color: #27d68a; }
  .button > span.sell {
    color: #ef395b; }
  .button:after {
    position: absolute;
    content: '';
    display: flex;
    bottom: -6px;
    border-radius: 100px;
    height: 6px;
    background: linear-gradient(to right, #427bda, #1048a7);
    transition: all 200ms ease;
    left: 5px;
    right: 5px; }
  .button:hover {
    color: rgba(255, 255, 255, 0.7); }
  .button.active {
    color: #145bd1; }
    .button.active:after {
      bottom: -4px; }
    .button.active.buy {
      color: #27d68a; }
      .button.active.buy:after {
        background: linear-gradient(to right, #27d68a, #58d39e); }
    .button.active.sell {
      color: #ef395b; }
      .button.active.sell:after {
        background: linear-gradient(to right, #ef395b, #ed6f86); }

a {
  color: #777777; }
  a:hover {
    text-decoration: none; }

.order__types {
  display: flex;
  height: 50px; }

.order__body {
  box-sizing: border-box;
  padding: 20px; }
  .order__body .row {
    margin: 0px; }
  .order__body .no-padding {
    padding: 0px; }
  .order__body .bid {
    color: #27d68a; }
  .order__body .ask {
    color: #ef395b; }

strong {
  color: rgba(255, 255, 255, 0.7); }

/* label color */
.input-field input {
  color: #777777; }

/* label focus color */
.input-field input:focus + label {
  color: #145bd1 !important; }

/* label underline focus color */
.input-field input[type='text']:focus {
  border-bottom: 1px solid #145bd1 !important;
  box-shadow: 0 1px 0 0 #145bd1 !important; }

.Market .row {
  display: flex; }
  .Market .row > div {
    margin-top: 30px; }

.buttons {
  display: flex;
  justify-content: space-between; }

.button2 {
  text-transform: uppercase;
  height: 40px;
  box-sizing: border-box;
  flex: 1;
  border-radius: 500px;
  background: linear-gradient(to right, #427bda, #1048a7);
  margin-right: 20px;
  position: relative;
  overflow: hidden;
  padding: 2px;
  cursor: pointer; }
  .button2:hover {
    background: transparent; }
    .button2:hover > div {
      background: #427bda; }
  .button2:last-child {
    margin: 0px; }
  .button2 > div {
    border-radius: 500px;
    background: #2b2c3a;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgba(255, 255, 255, 0.7); }
  .button2.sell {
    background: #ef395b; }
    .button2.sell:hover > div {
      background: #ef395b; }
  .button2.buy {
    background: #27d68a; }
    .button2.buy:hover > div {
      background: #27d68a; }

.row {
  margin-bottom: 0px; }

.Footer {
  position: relative;
  text-align: center;
  padding: 20px 20px;
  background-color: #2b2c3a;
  margin-top: 30px;
  box-sizing: border-box; }

.icon {
  width: 10px;
  height: 10px;
  border-radius: 50%; }
  .icon.sell {
    background: linear-gradient(to right, #ef395b, #ed6f86); }
  .icon.buy {
    background: linear-gradient(to right, #27d68a, #58d39e); }

.MyOrders .table-responsive {
  max-height: 205px; }

.SellOrders .table-responsive,
.BuyOrders .table-responsive,
.TradeHistory .table-responsive {
  max-height: 425px; }

.table {
  white-space: nowrap;
  margin-top: 10px;
  border: 0px !important; }
  .table thead {
    border: 0px !important; }
  .table tbody {
    border: 0px !important; }
  .table th {
    border: 0px !important;
    color: rgba(255, 255, 255, 0.7); }
  .table td {
    border: 0px !important; }
  .table tr .icon span {
    width: 10px;
    height: 100%;
    display: block;
    position: relative; }
    .table tr .icon span:after {
      content: '';
      display: block;
      width: 10px;
      height: 10px;
      position: absolute;
      top: 50%;
      margin-top: -50%;
      border-radius: 50%; }
    .table tr .icon span.sell:after {
      background: linear-gradient(to right, #ef395b, #ed6f86); }
    .table tr .icon span.buy:after {
      background: linear-gradient(to right, #27d68a, #58d39e); }

.action {
  cursor: pointer;
  transition: all 300ms ease; }
  .action:hover {
    color: rgba(255, 255, 255, 0.7); }

.card {
  overflow: hidden; }
  .card .fadeBottom {
    position: absolute;
    bottom: 0px;
    left: 0px;
    background: linear-gradient(to bottom, rgba(43, 44, 58, 0), #2b2c3a);
    width: 100%;
    height: 50%; }
  .card:hover .fadeBottom {
    display: none; }

.balance .title {
  display: block; }

.Chart .options {
  display: none; }

.MyAccount {
  margin-top: 30px; }

.Search {
  /* label color */
  /* label focus color */
  /* label underline focus color */
  /* icon prefix focus color */ }
  .Search .card {
    padding: 20px; }
    .Search .card .input-field {
      margin: 0px; }
  .Search .input-field input {
    color: #777777; }
  .Search .input-field input:focus + label {
    color: #145bd1 !important; }
  .Search .input-field input[type='text']:focus {
    border-bottom: 1px solid #145bd1 !important;
    box-shadow: 0 1px 0 0 #145bd1 !important; }
  .Search .input-field .prefix.active {
    color: #145bd1; }

.Asset {
  margin-top: 30px; }
  .Asset .card {
    padding: 20px;
    box-sizing: border-box; }
    .Asset .card .row {
      margin-top: 30px; }
    .Asset .card > .title {
      font-weight: 100;
      font-size: 30px;
      margin-bottom: 0px; }
      .Asset .card > .title span {
        font-size: 16px;
        margin-left: 8px; }
    .Asset .card > .subtitle span {
      transition: all 300ms ease;
      margin-right: 5px;
      cursor: pointer; }
      .Asset .card > .subtitle span:hover {
        color: white; }

.modal {
  color: rgba(255, 255, 255, 0.7);
  background: #2b2c3a;
  box-sizing: border-box;
  padding-bottom: 56px;
  bottom: auto !important;
  max-height: initial !important; }
  .modal h4 {
    color: white;
    text-transform: capitalize; }
  .modal .modal-content {
    border: 0px;
    background: transparent; }
  .modal .modal-footer {
    position: absolute;
    bottom: 0px;
    left: 0px;
    background: transparent;
    border: 0px; }
    .modal .modal-footer .button2 > div {
      padding: 0px 20px; }

.helper-text {
  color: #777777 !important;
  text-transform: capitalize; }
  .helper-text.deposit-all {
    cursor: pointer;
    text-decoration: underline; }
