$background: #232d44;
$shadow: 0px 5px 15px rgba(1, 1, 1, 0.1);
$buy: #27d68a;
$buy-gradient: linear-gradient(to right, $buy, #58d39e);
$sell: #ed8a45;
$orange-gradient: linear-gradient(to right, $sell, #f6de6c);
$sell-gradient: $orange-gradient;
$orange: #ed8a45;
$text: #777777;
$white: white;
$lighter: rgba(255, 255, 255, 0.7);
$lightest: rgba(255, 255, 255, 1);
$hover: $orange;

body {
	position: relative;
	width: 100%;
	background-image: linear-gradient(to bottom right, #384256 100px, #1f283d);
	color: $text;
	font-family: "Fira Sans", sans-serif;
	font-size: 14px;
}

.nav-bar {
	margin-bottom: 30px;
	position: relative;
	height: 60px;
	width: 100%;
	box-sizing: border-box;
	background-color: $background;
	box-shadow: $shadow;
	.container {
		display: flex;
		justify-content: space-between;
		.nav-items {
			display: flex;
			justify-content: space-between;
			align-items: center;
			flex: 1;
			box-sizing: border-box;
			ul {
				list-style: none;
				display: flex;
				margin: 0px;
				padding: 0px;
				.nav-item {
					cursor: pointer;
					&:hover {
						color: $orange;
					}
				}
			}
		}
		.brand-logo {
			width: 60px;
			height: 60px;
			img {
				width: 100%;
				height: 100%;
			}
		}
	}
}

.card {
	.head {
		display: flex;
		justify-content: space-between;
	}
	.title {
		text-transform: uppercase;
		color: $lighter;
		display: flex;
		align-items: center;
		.icon {
			margin-right: 8px;
		}
	}
	border-radius: 0px;
	position: relative;
	background-color: $background;
	box-shadow: $shadow;
	border: 0px;
	margin: 0px;
	&.mini {
		margin: 0px;
		background: $orange-gradient;
		&.balance {
			box-sizing: border-box;
			padding: 20px 20px;
			span {
				display: block;
				font-weight: 100;
				font-size: 28px;
				color: $lightest;
			}
		}
		p {
			margin: 0px;
		}
	}
	&.Chart,
	&.Trade {
		height: 100%;
		margin: 0px;
	}
}

.Chart {
	box-sizing: border-box;
	padding-top: 50px;
	height: 400px;
	overflow: hidden;
}

#tooltip {
	background-color: "lime";
}

.loading {
	position: fixed;
	top: 0px;
	left: 0px;
	z-index: 1;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	background: $background;
	.loading__blink {
		animation: blink-animation 1500ms infinite;
		img {
			width: 100px;
			height: 100px;
		}
	}
}

@keyframes blink-animation {
	0% {
		opacity: 1;
	}
	50% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

.chart__nav {
	position: absolute;
	z-index: 2;
	display: flex;
	flex-wrap: wrap;
	top: 0px;
	left: 0px;
	width: 100%;
	box-sizing: border-box;
	.outerWrapper {
		position: relative;
		height: 50px;
		width: 100%;
		overflow: hidden;
		&:hover {
			.fadeRight {
				display: none;
			}
		}
		.fadeRight {
			display: block;
			right: 0px;
			position: absolute;
			width: 50%;
			background-image: linear-gradient(
				to right,
				rgba(35, 45, 68, 0),
				rgba(35, 45, 68, 1)
			);
			height: 100%;
			top: 0px;
			z-index: 1;
		}
		.markets {
			display: flex;
			overflow-x: scroll;
			-webkit-overflow-scrolling: touch;
			box-sizing: content-box;
			&::-webkit-scrollbar {
				display: none;
			}
			.wrapper {
				height: 50px;
				display: flex;
				.button {
					width: 100px;
					float: left;
				}
			}
		}
	}
	.options {
		width: 100%;
		height: 50px;
		display: flex;
		box-sizing: border-box;
	}
}

.button {
	text-transform: uppercase;
	position: relative;
	display: flex;
	flex-direction: column;
	flex: 1;
	justify-content: center;
	align-items: center;
	overflow: hidden;
	cursor: pointer;
	> span {
		&.buy {
			color: $buy;
		}
		&.sell {
			color: $sell;
		}
	}
	&:after {
		position: absolute;
		content: "";
		display: flex;
		bottom: -6px;
		height: 6px;
		background: $orange-gradient;
		left: 5px;
		right: 5px;
	}
	&:hover {
		color: $orange;
	}
	&.active {
		color: $orange;
		&:after {
			bottom: -4px;
		}
		&.buy {
			color: $buy;
			&:after {
				background: $buy-gradient;
			}
		}
		&.sell {
			color: $sell;
			&:after {
				background: $sell-gradient;
			}
		}
	}
}

a {
	color: $text;
	&:hover {
		text-decoration: none;
	}
}

.order__types {
	display: flex;
	height: 50px;
}

.order__body {
	box-sizing: border-box;
	padding: 20px;
	.row {
		margin: 0px;
	}
	.no-padding {
		padding: 0px;
	}
	.bid {
		color: $buy;
	}
	.ask {
		color: $sell;
	}
}

strong {
	color: $orange;
}

/* label color */
.input-field input {
	color: white;
}
/* label focus color */
.input-field input:focus + label {
	color: $orange !important;
}
/* label underline focus color */
.input-field input[type="text"]:focus {
	border-bottom: 1px solid $orange !important;
	box-shadow: 0 1px 0 0 $orange !important;
}

.Market {
	> .row {
		display: flex;
		margin-top: -20px;
		& > div {
			// margin-top: 0px !important;
		}
	}
	.row {
		display: flex;
		& > div {
			margin-top: 20px;
		}
	}
}

.buttons {
	display: flex;
	justify-content: space-between;
	&.head {
		margin: 0px -22.5px;
		height: 50px;
	}
}

.button2 {
	text-transform: uppercase;
	height: 40px;
	box-sizing: border-box;
	flex: 1;
	background: $orange-gradient;
	margin-right: 20px;
	position: relative;
	overflow: hidden;
	padding: 2px;
	cursor: pointer;

	&:hover {
		background: transparent;
		> div {
			background: $orange;
			color: $white;
		}
	}

	&:last-child {
		margin: 0px;
	}

	> div {
		background: $background;
		width: 100%;
		height: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
		color: $orange;
	}

	&.sell {
		background: $sell;
		&:hover {
			> div {
				background: $sell;
			}
		}
	}

	&.buy {
		background: $buy;
		&:hover {
			> div {
				background: $buy;
			}
		}
	}
}

.row {
	margin-bottom: 0px;
}

.Footer {
	position: absolute;
	bottom: 0px;
	left: 0px;
	width: 100%;
	text-align: center;
	padding: 20px 20px;
	background-color: $background;
	margin-top: 30px;
	box-sizing: border-box;
}

.icon {
	width: 10px;
	height: 10px;

	&.sell {
		background: $sell-gradient;
	}
	&.buy {
		background: $buy-gradient;
	}
}

.MyOrders {
	.card {
		height: 215px;
	}
}

.SellOrders,
.BuyOrders,
.TradeHistory {
	position: relative;
	.body {
		position: relative;
		height: 425px;
		.table-responsive {
			height: 425px;
		}
	}
}

// .TradeHistory {
// 	> .card {
// 		padding-top: 0px !important;
// 	}
// }

.table {
	white-space: nowrap;
	margin-top: 10px;
	border: 0px !important;
	thead {
		border: 0px !important;
	}
	tbody {
		border: 0px !important;
	}
	th {
		border: 0px !important;
		color: $lighter;
	}
	td {
		border: 0px !important;
	}
	tr {
		.icon {
			span {
				width: 10px;
				height: 100%;
				display: block;
				position: relative;
				&:after {
					content: "";
					display: block;
					width: 10px;
					height: 10px;
					position: absolute;
					top: 50%;
					margin-top: -50%;
				}
				&.sell {
					&:after {
						background: $sell-gradient;
					}
				}
				&.buy {
					&:after {
						background: $buy-gradient;
					}
				}
			}
		}
	}
}

.action {
	cursor: pointer;
	&:hover {
		color: $orange;
	}
}

.card {
	overflow: hidden;
	.fadeBottom {
		position: absolute;
		bottom: 0px;
		left: 0px;
		background-image: linear-gradient(
			to bottom,
			rgba(35, 45, 68, 0),
			rgba(35, 45, 68, 1)
		);
		width: 100%;
		height: 50%;
	}
	&:hover {
		.fadeBottom {
			display: none;
		}
	}
}

.balance {
	.title {
		display: block;
	}
}

.Search {
	.card {
		padding: 20px;
		.input-field {
			margin: 0px;
		}
	}
	/* label color */
	.input-field input {
		color: $white;
	}
	/* label focus color */
	.input-field input:focus + label {
		color: $orange !important;
	}
	/* label underline focus color */
	.input-field input[type="text"]:focus {
		border-bottom: 1px solid $orange !important;
		box-shadow: 0 1px 0 0 $orange !important;
	}
	/* icon prefix focus color */
	.input-field .prefix.active {
		color: $orange;
	}
}

.Asset {
	margin-top: 20px;
	.card {
		.row {
			margin-top: 20px;
		}
		padding: 20px;
		box-sizing: border-box;
		> .title {
			font-weight: 100;
			font-size: 30px;
			margin-bottom: 0px;
			span {
				font-size: 16px;
				margin-left: 8px;
			}
		}
		> .subtitle {
			span {
				margin-right: 5px;
				cursor: pointer;
				&:hover {
					color: $hover;
				}
			}
		}
	}
}

.modal {
	h4 {
		color: $lightest;
		text-transform: capitalize;
	}
	color: $lighter;
	background: $background;
	box-sizing: border-box;
	padding-bottom: 56px;
	.modal-content {
		border: 0px;
		background: transparent;
	}
	.modal-footer {
		position: absolute;
		bottom: 0px;
		left: 0px;
		background: transparent;
		border: 0px;
		.button2 {
			> div {
				padding: 0px 20px;
			}
		}
	}
	bottom: auto !important;
	max-height: initial !important;
}

.helper-text {
	color: $text !important;
	text-transform: capitalize;
	&.deposit-all {
		cursor: pointer;
		text-decoration: underline;
	}
}

.not-logged-in {
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.OrderBook {
	.col-md-4 {
		> div {
			height: 100%;
			> .card {
				height: 100%;
			}
		}
	}
}

.unavailable {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0px;
	left: 0px;
	background-color: rgba(35, 45, 68, 0.9);
	color: $orange;
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 1;
	text-align: center;
}

.App {
	min-height: 100vh;
	.container {
		padding-bottom: 100px;
	}
}

.Login {
	.card {
		margin-bottom: 20px;
		box-sizing: border-box;
		padding: 20px;
		.head {
			margin-bottom: 20px;
			.title {
				display: block;
				text-align: center;
				width: 100%;
				font-weight: 100;
				font-size: 30px;
				margin-bottom: 0px;
				span {
					font-size: 16px;
					margin-left: 8px;
				}
			}
		}
		.body {
			.button {
				text-transform: uppercase;
				box-sizing: border-box;
				background: $orange-gradient;
				margin-right: 20px;
				position: relative;
				overflow: hidden;
				padding: 2px;
				cursor: pointer;
				width: 100%;
				margin-bottom: 10px;
				&:hover {
					background: transparent;
					> div {
						background: $orange;
						color: $white;
						svg {
							path {
								fill: $white !important;
							}
						}
					}
				}
				> div {
					padding: 10px 0px;
					text-align: center;
					background: $background;
					width: 100%;
					height: 100%;
					display: flex;
					justify-content: center;
					align-items: center;
					color: $orange;
					svg {
						margin-right: 4px;
						path {
							fill: $orange !important;
						}
					}
				}
			}
		}
	}
}
