body {
  position: relative;
  width: 100%;
  background-image: linear-gradient(to bottom right, #384256 100px, #1f283d);
  color: #777777;
  font-family: "Fira Sans", sans-serif;
  font-size: 14px; }

.nav-bar {
  margin-bottom: 30px;
  position: relative;
  height: 60px;
  width: 100%;
  box-sizing: border-box;
  background-color: #232d44;
  box-shadow: 0px 5px 15px rgba(1, 1, 1, 0.1); }
  .nav-bar .container {
    display: flex;
    justify-content: space-between; }
    .nav-bar .container .nav-items {
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex: 1;
      box-sizing: border-box; }
      .nav-bar .container .nav-items ul {
        list-style: none;
        display: flex;
        margin: 0px;
        padding: 0px; }
        .nav-bar .container .nav-items ul .nav-item {
          cursor: pointer; }
          .nav-bar .container .nav-items ul .nav-item:hover {
            color: #ed8a45; }
    .nav-bar .container .brand-logo {
      width: 60px;
      height: 60px; }
      .nav-bar .container .brand-logo img {
        width: 100%;
        height: 100%; }

.card {
  border-radius: 0px;
  position: relative;
  background-color: #232d44;
  box-shadow: 0px 5px 15px rgba(1, 1, 1, 0.1);
  border: 0px;
  margin: 0px; }
  .card .head {
    display: flex;
    justify-content: space-between; }
  .card .title {
    text-transform: uppercase;
    color: rgba(255, 255, 255, 0.7);
    display: flex;
    align-items: center; }
    .card .title .icon {
      margin-right: 8px; }
  .card.mini {
    margin: 0px;
    background: linear-gradient(to right, #ed8a45, #f6de6c); }
    .card.mini.balance {
      box-sizing: border-box;
      padding: 20px 20px; }
      .card.mini.balance span {
        display: block;
        font-weight: 100;
        font-size: 28px;
        color: white; }
    .card.mini p {
      margin: 0px; }
  .card.Chart, .card.Trade {
    height: 100%;
    margin: 0px; }

.Chart {
  box-sizing: border-box;
  padding-top: 50px;
  min-height: 400px;
  overflow: hidden; }

#tooltip {
  background-color: "lime"; }

.loading {
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 3;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #232d44; }
  .loading .loading__blink {
    animation: blink-animation 1500ms infinite; }
    .loading .loading__blink img {
      width: 100px;
      height: 100px; }

@keyframes blink-animation {
  0% {
    opacity: 1; }
  50% {
    opacity: 0; }
  100% {
    opacity: 1; } }

.chart__nav {
  position: absolute;
  z-index: 2;
  display: flex;
  flex-wrap: wrap;
  top: 0px;
  left: 0px;
  width: 100%;
  box-sizing: border-box; }
  .chart__nav .outerWrapper {
    position: relative;
    height: 50px;
    width: 100%;
    overflow: hidden; }
    .chart__nav .outerWrapper:hover .fadeRight {
      display: none; }
    .chart__nav .outerWrapper .fadeRight {
      display: block;
      right: 0px;
      position: absolute;
      width: 50%;
      background-image: linear-gradient(to right, rgba(35, 45, 68, 0), #232d44);
      height: 100%;
      top: 0px;
      z-index: 1; }
    .chart__nav .outerWrapper .markets {
      display: flex;
      overflow-x: scroll;
      -webkit-overflow-scrolling: touch;
      box-sizing: content-box; }
      .chart__nav .outerWrapper .markets::-webkit-scrollbar {
        display: none; }
      .chart__nav .outerWrapper .markets .wrapper {
        height: 50px;
        display: flex; }
        .chart__nav .outerWrapper .markets .wrapper .button {
          width: 100px;
          float: left; }
  .chart__nav .options {
    width: 100%;
    height: 50px;
    display: flex;
    box-sizing: border-box; }

.button {
  text-transform: uppercase;
  position: relative;
  display: flex;
  flex-direction: column;
  flex: 1;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  cursor: pointer; }
  .button > span.buy {
    color: #27d68a; }
  .button > span.sell {
    color: #ed8a45; }
  .button:after {
    position: absolute;
    content: "";
    display: flex;
    bottom: -6px;
    height: 6px;
    background: linear-gradient(to right, #ed8a45, #f6de6c);
    left: 5px;
    right: 5px; }
  .button:hover {
    color: #ed8a45; }
  .button.active {
    color: #ed8a45; }
    .button.active:after {
      bottom: -4px; }
    .button.active.buy {
      color: #27d68a; }
      .button.active.buy:after {
        background: linear-gradient(to right, #27d68a, #58d39e); }
    .button.active.sell {
      color: #ed8a45; }
      .button.active.sell:after {
        background: linear-gradient(to right, #ed8a45, #f6de6c); }

a {
  color: #777777; }
  a:hover {
    text-decoration: none; }

.order__types {
  display: flex;
  height: 50px; }

.order__body {
  box-sizing: border-box;
  padding: 20px; }
  .order__body .row {
    margin: 0px; }
  .order__body .no-padding {
    padding: 0px; }
  .order__body .bid {
    color: #27d68a; }
  .order__body .ask {
    color: #ed8a45; }

strong {
  color: #ed8a45; }

/* label color */
.input-field input {
  color: white; }

/* label focus color */
.input-field input:focus + label {
  color: #ed8a45 !important; }

/* label underline focus color */
.input-field input[type="text"]:focus {
  border-bottom: 1px solid #ed8a45 !important;
  box-shadow: 0 1px 0 0 #ed8a45 !important; }

.Market > .row {
  display: flex;
  margin-top: -20px; }

.Market .row {
  display: flex; }
  .Market .row > div {
    margin-top: 20px; }

.buttons {
  display: flex;
  justify-content: space-between; }
  .buttons.head {
    margin: 0px -22.5px;
    height: 50px; }

.button2 {
  text-transform: uppercase;
  height: 40px;
  box-sizing: border-box;
  flex: 1;
  background: linear-gradient(to right, #ed8a45, #f6de6c);
  margin-right: 20px;
  position: relative;
  overflow: hidden;
  padding: 2px;
  cursor: pointer; }
  .button2:hover {
    background: transparent; }
    .button2:hover > div {
      background: #ed8a45;
      color: white; }
  .button2:last-child {
    margin: 0px; }
  .button2 > div {
    background: #232d44;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ed8a45; }
  .button2.sell {
    background: #ed8a45; }
    .button2.sell:hover > div {
      background: #ed8a45; }
  .button2.buy {
    background: #27d68a; }
    .button2.buy:hover > div {
      background: #27d68a; }

.row {
  margin-bottom: 0px; }

.Footer {
  position: absolute;
  bottom: 0px;
  left: 0px;
  width: 100%;
  text-align: center;
  padding: 20px 20px;
  background-color: #232d44;
  margin-top: 30px;
  box-sizing: border-box; }

.icon {
  width: 10px;
  height: 10px; }
  .icon.sell {
    background: linear-gradient(to right, #ed8a45, #f6de6c); }
  .icon.buy {
    background: linear-gradient(to right, #27d68a, #58d39e); }

.MyOrders .card {
  height: 215px; }

.SellOrders,
.BuyOrders,
.TradeHistory {
  position: relative; }
  .SellOrders .body,
  .BuyOrders .body,
  .TradeHistory .body {
    position: relative;
    height: 425px; }
    .SellOrders .body .table-responsive,
    .BuyOrders .body .table-responsive,
    .TradeHistory .body .table-responsive {
      height: 425px; }

.table {
  white-space: nowrap;
  margin-top: 10px;
  border: 0px !important; }
  .table thead {
    border: 0px !important; }
  .table tbody {
    border: 0px !important; }
  .table th {
    border: 0px !important;
    color: rgba(255, 255, 255, 0.7); }
  .table td {
    border: 0px !important; }
  .table tr .icon span {
    width: 10px;
    height: 100%;
    display: block;
    position: relative; }
    .table tr .icon span:after {
      content: "";
      display: block;
      width: 10px;
      height: 10px;
      position: absolute;
      top: 50%;
      margin-top: -50%; }
    .table tr .icon span.sell:after {
      background: linear-gradient(to right, #ed8a45, #f6de6c); }
    .table tr .icon span.buy:after {
      background: linear-gradient(to right, #27d68a, #58d39e); }

.action {
  cursor: pointer; }
  .action:hover {
    color: #ed8a45; }

.card {
  overflow: hidden; }
  .card .fadeBottom {
    position: absolute;
    bottom: 0px;
    left: 0px;
    background-image: linear-gradient(to bottom, rgba(35, 45, 68, 0), #232d44);
    width: 100%;
    height: 50%; }
  .card:hover .fadeBottom {
    display: none; }

.balance .title {
  display: block; }

.Search {
  /* label color */
  /* label focus color */
  /* label underline focus color */
  /* icon prefix focus color */ }
  .Search .card {
    padding: 20px; }
    .Search .card .input-field {
      margin: 0px; }
  .Search .input-field input {
    color: white; }
  .Search .input-field input:focus + label {
    color: #ed8a45 !important; }
  .Search .input-field input[type="text"]:focus {
    border-bottom: 1px solid #ed8a45 !important;
    box-shadow: 0 1px 0 0 #ed8a45 !important; }
  .Search .input-field .prefix.active {
    color: #ed8a45; }

.Asset {
  margin-top: 20px; }
  .Asset .card {
    padding: 20px;
    box-sizing: border-box; }
    .Asset .card .row {
      margin-top: 20px; }
    .Asset .card > .title {
      font-weight: 100;
      font-size: 30px;
      margin-bottom: 0px; }
      .Asset .card > .title span {
        font-size: 16px;
        margin-left: 8px; }
    .Asset .card > .subtitle span {
      margin-right: 5px;
      cursor: pointer; }
      .Asset .card > .subtitle span:hover {
        color: #ed8a45; }

.modal {
  color: rgba(255, 255, 255, 0.7);
  background: #232d44;
  box-sizing: border-box;
  padding-bottom: 56px;
  bottom: auto !important;
  max-height: initial !important; }
  .modal h4 {
    color: white;
    text-transform: capitalize; }
  .modal .modal-content {
    border: 0px;
    background: transparent; }
  .modal .modal-footer {
    position: absolute;
    bottom: 0px;
    left: 0px;
    background: transparent;
    border: 0px; }
    .modal .modal-footer .button2 > div {
      padding: 0px 20px; }

.helper-text {
  color: #777777 !important;
  text-transform: capitalize; }
  .helper-text.deposit-all {
    cursor: pointer;
    text-decoration: underline; }

.not-logged-in {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center; }

.OrderBook .col-lg-4 > div {
  height: 100%; }
  .OrderBook .col-lg-4 > div > .card {
    height: 100%; }

.unavailable {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  background-color: rgba(35, 45, 68, 0.9);
  color: #ed8a45;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
  text-align: center; }

.solid {
  background-color: #232d44; }

.App {
  min-height: 100vh; }
  .App .container {
    padding-bottom: 100px; }

.Login .card {
  margin-bottom: 20px;
  box-sizing: border-box;
  padding: 20px; }
  .Login .card .head {
    margin-bottom: 20px; }
    .Login .card .head .title {
      display: block;
      text-align: center;
      width: 100%;
      font-weight: 100;
      font-size: 30px;
      margin-bottom: 0px; }
      .Login .card .head .title span {
        font-size: 16px;
        margin-left: 8px; }
  .Login .card .body .button {
    text-transform: uppercase;
    box-sizing: border-box;
    background: linear-gradient(to right, #ed8a45, #f6de6c);
    margin-right: 20px;
    position: relative;
    overflow: hidden;
    padding: 2px;
    cursor: pointer;
    width: 100%;
    margin-bottom: 10px; }
    .Login .card .body .button:hover {
      background: transparent; }
      .Login .card .body .button:hover > div {
        background: #ed8a45;
        color: white; }
        .Login .card .body .button:hover > div svg path {
          fill: white !important; }
    .Login .card .body .button > div {
      padding: 20px 0px;
      text-align: center;
      background: #232d44;
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      color: #ed8a45; }
      .Login .card .body .button > div svg {
        margin-right: 4px; }
        .Login .card .body .button > div svg path {
          fill: #ed8a45 !important; }

.choices span {
  margin-right: 15px;
  cursor: pointer;
  color: #777777; }
  .choices span:last-child {
    margin-right: 0px; }
  .choices span:hover {
    color: #ed8a45; }
  .choices span a {
    color: #777777; }
    .choices span a:hover {
      color: #ed8a45; }

.account-info .head {
  display: block;
  text-align: center;
  color: #ed8a45; }
